.container{
    display:flex;
    justify-content: space-around;
    flex-wrap: wrap;
    row-gap: 10px;
    column-gap: 10px;
}
.boxes{
    height:200px;
    width:200px;
    background-color: rebeccapurple;
    font-size: 60px;
    color: white;
    padding: 5px;
}

@media only screen and (max-width: 600px) and (min-width: 320px){
    .boxes{
        font-size: 30px;
    }
}